.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}
.cadastro .title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}
.cadastro .form {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    background: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: .5rem;
    min-height: 384px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px 2px lightgrey,
                    inset 4px 4px 8px rgba(211, 211, 211, 0.692);
    background: linear-gradient(135deg, #ffffff,#fdfdfd);

    display: grid;
}
.cadastro .field label {
    display: block;
}
.cadastro .field input {
    width: 100%;
    border: 1px solid lightsteelblue;
    padding: 0.5rem;
}
.cadastro .actions {
    text-align: right;
    margin-top:1rem;
}
.cadastro .actions button {
    border:1px solid lightsteelblue;
    padding:0.5rem;
    border-radius: 4px;
}
.cadastro .actions button:hover{
    box-shadow: 2px 2px 0 grey;
    cursor: pointer;
    transition:0.43s;
}
.signUp {
    color:rgb(172, 75, 75)
}
