
  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  text-decoration: none;
  outline:none;
  border:none;
}